<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
      .white {
        color:white;
      }

      .white:hover {
        color:white;
      }

      p {
        font-size: 14pt;
      }


    </style>
  </head>

  <body style="background-color: #addbe6">
    <div style="margin: auto; width: 70%; background-color: white; padding: 30px; overflow: auto">
      <% flash.each do |name, msg| %>
        <ul>
          <li><%= msg %></li>
        </ul>
      <% end %>

      <div style="border-bottom: solid; padding-top: 10px; padding-bottom: 10px">
        <%= link_to 'Home', root_path %>
        <%= link_to 'About', about_path %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
